DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.deps.json
DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.dll
DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.exe
DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.pdb
DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.runtimeconfig.json
DotNet/HelloWorld/.vscode/launch.json
DotNet/HelloWorld/.vscode/tasks.json
DotNet/HelloWorld/obj/HelloWorld.csproj.nuget.dgspec.json
DotNet/HelloWorld/obj/HelloWorld.csproj.nuget.g.props
DotNet/HelloWorld/obj/HelloWorld.csproj.nuget.g.targets
DotNet/HelloWorld/obj/project.assets.json
DotNet/HelloWorld/obj/project.nuget.cache
DotNet/HelloWorld/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/HelloWorld/obj/Debug/net7.0/apphost.exe
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.AssemblyInfo.cs
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.AssemblyInfoInputs.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.assets.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.csproj.AssemblyReference.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.csproj.CoreCompileInputs.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.csproj.FileListAbsolute.txt
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.dll
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.GeneratedMSBuildEditorConfig.editorconfig
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.genruntimeconfig.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.GlobalUsings.g.cs
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.pdb
DotNet/HelloWorld/obj/Debug/net7.0/ref/HelloWorld.dll
DotNet/HelloWorld/obj/Debug/net7.0/refint/HelloWorld.dll
DotNet/Muuttujat/.vscode/launch.json
DotNet/Muuttujat/.vscode/tasks.json
DotNet/Muuttujat/bin/Debug/net7.0/Muuttujat.deps.json
DotNet/Muuttujat/bin/Debug/net7.0/Muuttujat.dll
DotNet/Muuttujat/bin/Debug/net7.0/Muuttujat.exe
DotNet/Muuttujat/bin/Debug/net7.0/Muuttujat.pdb
DotNet/Muuttujat/bin/Debug/net7.0/Muuttujat.runtimeconfig.json
DotNet/Muuttujat/obj/Muuttujat.csproj.nuget.dgspec.json
DotNet/Muuttujat/obj/Muuttujat.csproj.nuget.g.props
DotNet/Muuttujat/obj/Muuttujat.csproj.nuget.g.targets
DotNet/Muuttujat/obj/project.assets.json
DotNet/Muuttujat/obj/project.nuget.cache
DotNet/Muuttujat/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/Muuttujat/obj/Debug/net7.0/apphost.exe
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.AssemblyInfo.cs
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.AssemblyInfoInputs.cache
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.assets.cache
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.csproj.AssemblyReference.cache
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.csproj.CoreCompileInputs.cache
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.csproj.FileListAbsolute.txt
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.dll
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.GeneratedMSBuildEditorConfig.editorconfig
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.genruntimeconfig.cache
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.GlobalUsings.g.cs
DotNet/Muuttujat/obj/Debug/net7.0/Muuttujat.pdb
DotNet/Muuttujat/obj/Debug/net7.0/ref/Muuttujat.dll
DotNet/Muuttujat/obj/Debug/net7.0/refint/Muuttujat.dll
JavaScript/Yksikkötestaus/node_modules
OmiaTestejä/
