@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moi Code Bootcamp!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    Luku 1:
    <input type="number" class="form-control w-25" id="luku1" />
</p>

<p>
    Luku 2:
    <input type="number" class="form-control w-25" id="luku2" />
</p>

<p>
    <button class="btn btn-primary mt-2" onclick="laskeSumma()">Laske summa</button>
</p>

<script>
    function laskeSumma() {
        let luku1 = document.getElementById("luku1").value;
        let luku2 = document.getElementById("luku2").value;

        let summa = parseInt(luku1) + parseInt(luku2);
        alert("Lukujen summa on: " + summa);
    }
</script>