@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moi Code Bootcamp!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Luku 1:</p>
<input type="number" />

<p>Luku 2:</p>
<input type="number" />

<p>
    <button onclick="laskeSumma()">Laske summa</button>
</p>

<script>
    function laskeSumma() {
        alert("Toimii!");
    }
</script>